<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
	  <trace enabled="true" mostRecent="true" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
	  <behaviors>
		  <serviceBehaviors>
			  <behavior name="debug">
				  <serviceDebug includeExceptionDetailInFaults="true" />
			  </behavior>
		  </serviceBehaviors>
	  </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicesBinding" />
        <binding name="lineaCapturaGenWs_secureServerBinding" />
        <binding name="lineaCapturaGenWs_secureServerBinding1" />
        <binding name="BasicHttpsBinding_IWS_Recibe_Avaluo">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="DeclaracionIsai">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.78.2/fut/LineaCaptura_WS/GeneralLC/lineaCapturaGenWs_secureServer.php"
        binding="basicHttpBinding" bindingConfiguration="ServicesBinding"
        contract="ServiceLC.ServicesPortType" name="ServicesPort" />
      <endpoint address="http://10.1.198.170/fut/public/lineaCapturaGenWs_secureServer"
        binding="basicHttpBinding" bindingConfiguration="lineaCapturaGenWs_secureServerBinding"
        contract="ServiceLC1.lineaCapturaGenWs_secureServerPortType"
        name="lineaCapturaGenWs_secureServerPort" />
      <endpoint address="http://10.1.198.170/fut/public/lineaCapturaGenWs_secureServer"
        binding="basicHttpBinding" bindingConfiguration="lineaCapturaGenWs_secureServerBinding1"
        contract="ServiceLC2.lineaCapturaGenWs_secureServerPortType"
        name="lineaCapturaGenWs_secureServerPort1" />
      <endpoint address="http://ni-prod-bpm2.promoca.int/PRO/FuentesExternas/Isai/DeclaracionIsai.svc"
        binding="wsHttpBinding" bindingConfiguration="DeclaracionIsai"
        contract="ServiceDeclaracionIsai.IDeclaracionIsai" name="DeclaracionIsai" />
      <endpoint address="https://serviciosqa.solucionideas.com/WS_Recibe_Avaluo.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IWS_Recibe_Avaluo"
        contract="ServiceToken.IWS_Recibe_Avaluo" name="BasicHttpsBinding_IWS_Recibe_Avaluo" />
    </client>
  </system.serviceModel>
</configuration>
